<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
              <clear />
                <add value="index.html" />	      
                <add value="index.htm" />
                <add value="index.php" />		
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <staticContent>
            <mimeMap fileExtension=".R" mimeType="text/plain" />
            <mimeMap fileExtension=".Rhtml" mimeType="text/plain" />
            <mimeMap fileExtension=".rnw" mimeType="text/plain" />
            <mimeMap fileExtension=".rmd" mimeType="text/plain" />
            <mimeMap fileExtension=".php" mimeType="application/x-httpd-php" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
        </staticContent>	
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
        <trust level="Full" />
  </system.web>
</configuration>
